.play-video {
    flex-basis: 69%;
}

.play-video iframe {
    width: 100%;
    height: 37vw;
    border-radius: 10px;
}

.play-video h3 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
}

.play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    font-size: 14px;
    color: #5a5a5a;
}

.publisher {
    display: flex;
    align-items: center;
}

.publisher div {
    flex: 1;
    line-height: 18px;
    margin-right: 25px;
}

.publisher img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.publisher div p {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.publisher div span {
    font-size: 12px;
    color: #5a5a5a;
    margin-left: 0;
}

.publisher button {
    background: black;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
        background-color: rgb(50, 50, 50);
    }
}

.play-video-info .action-buttons img {
    width: 20px;
    margin-right: 8px;
}

.play-video-info .action-buttons span {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.play-video-info .action-buttons span {
    background-color: rgb(242, 242, 242);
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    cursor: pointer;

    &:hover {
        background-color: rgb(230, 230, 230);
    }
}

.play-video-info .action-buttons span:nth-child(1) {
    border-radius: 25px 0px 0px 25px;
    margin-right: 0;
    padding-right: 0;
}

.play-video-info .action-buttons span:nth-child(1) p {
    border-right: solid 1px #ccc;
    padding-right: 12px;
}

.play-video-info .action-buttons span:nth-child(2) {
    border-radius: 0px 25px 25px 0px;
    margin-left: 0;
}

.vid-description {
    margin: 15px 0;
}

.vid-description p {
    font-size: 14px;
    margin-bottom: 5px;
}

.vid-des-details {
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 15px;
}

.vid-des-details .views-time {
    font-weight: 500;
    color: rgb(15, 15, 15) !important;
    margin-bottom: 10px;
}

.vid-des-details .description {
    font-weight: 400;
    color: rgb(19, 19, 19);
}

.vid-des-details .read-more-btn {
    color: rgb(15, 15, 15);
    font-weight: 500;
    cursor: pointer;
}

.total-comments {
    font-size: 20px;
    margin-top: 30px;
    color: rgb(15, 15, 15);
}

.comment {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.comment img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.comment h3 {
    margin-top: 0;
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 500;
    line-height: 20px;
}

.comment h3 span {
    font-size: 12px;
    color: #606060;
    font-weight: 400;
    margin-left: 8px;
}

.comment .comment-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}

.comment-action img {
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}

.comment-action span {
    margin-right: 20px;
    color: #5a5a5a;
}

@media(max-width: 900px) {
    .play-video {
        flex-basis: 100%;
    }

    .play-video iframe {
        width: 100%;
        height: 50vw;
    }

    .play-video .action-buttons span {
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }

    .action-buttons span:nth-child(1) {
        margin-right: 0;
    }

    .vid-description {
        padding-left: 0;
    }
}