.recommended {
    flex-basis: 30%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-video-list img {
    flex-basis: 49%;
    width: 50%;
    border-radius: 10px;
}

.vid-info {
    flex-basis: 49%;
}

.vid-info h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(15, 15, 15);
}

.vid-info p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    line-height: 18px;
}

@media(max-width:900px) {
    .recommended {
        flex-basis: 100%;
    }
}